VITE_API_URL=https://prevencaoperdas.onrender.com
VITE_SUPABASE_URL=https://dlrjfjgsrrqkvjcnksjm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRscmpmamdzcnJxa3ZqY25rc2ptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzOTg3MTMsImV4cCI6MjA4Mzk3NDcxM30.XbO-4JLGdiRY661fXv9OcOLlsNFlZqZ5zLBfCvv_gfw
